* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Otomanopee One', sans-serif;
}

p,
input {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6rem;
}

/* color theme */
.colors {
    color: #FEF7DC;
    color: #FDE281;
    color: #FCCB1A;
    color: #B08A03;
    color: #342B09;
}