.footer {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color5);
    color: var(--color4);
    font-family: 'Montserrat', sans-serif;
}

.react-icon {
    vertical-align:middle;
}