.footer {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #342B09;
    color: #B08A03;
    font-family: 'Montserrat', sans-serif;
}

.react-icon {
    vertical-align:middle;
}